In [ ]:
import pandas as pd
import math
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.decomposition import PCA

In [ ]:
data = pd.read_csv("/content/AutoML cleaned.csv")

In [ ]:
data.columns

Index(['ID', 'Site', 'HasEmail', 'HasPhone', 'HasAddr', 'HasGeneric',
       'HasSameD', 'HasExt', 'HasInt', 'HasEdEmail', 'HasEdName', 'MissOwner',
       'Moz', 'Google'],
      dtype='object')

In [ ]:
x = data.drop(['ID','Site','Moz'], axis = 1);
y = data['Moz'];

0      59
1      38
2      16
3      20
4       9
       ..
840     8
841    52
842    51
843    84
844    15
Name: Moz, Length: 845, dtype: int64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_test

,HasEmail,HasPhone,HasAddr,HasGeneric,HasSameD,HasExt,HasInt,HasEdEmail,HasEdName,MissOwner,Google
493,1,0,0,0,1,0,0,0,0,0,1
215,1,0,0,0,1,0,0,0,0,0,1
622,1,0,0,0,1,0,0,0,0,0,1
738,1,0,0,1,0,0,0,0,0,0,1
63,1,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
351,1,0,0,1,0,0,0,0,0,0,1
445,0,0,0,0,0,0,0,0,0,0,1
725,0,0,0,0,0,0,0,0,0,0,1
198,0,0,0,0,0,0,0,0,0,0,1
780,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
regr = RandomForestRegressor(max_depth=2, random_state=42)
regr.fit(x_train, y_train)

RandomForestRegressor(max_depth=2, random_state=42)

In [ ]:
pred = regr.predict(x_test)
mse = mean_squared_error(pred, y_test)
math.sqrt(mse)

20.70943362224909